.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: var(--layer-bg-login);
    padding-top: 70px;
}

.change-password-head {
    align-items: center;
    margin-bottom: 30px;
}

.change-password-logo {
    font-size: 7rem;
    text-transform: uppercase;
    color: #1312e2;
    font-weight: 600;
    margin-bottom: 42px;
}

.change-password-describe {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.change-password-body {
    width: 400px;
    background-color: var(--layer-background);
    color: var(--text-primary);
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(21, 48, 142, 0.14);
}

.change-password-form {
    width: 100%;
    display: flex;
    padding: 25px;
    flex-direction: column;
}

.change-password-info {
    padding: 8px 0;
    border-bottom: 1px solid #ecedf0;
    margin-bottom: 7px;
    position: relative;
    transition: all .3s;
}

    .change-password-info:focus-within {
        border-color: var(--layer-background-leftmenu-selected);
    }

.change-password-icon {
    margin-right: 15px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.5);
}

    .change-password-icon i {
        font-size: 1.4rem;
    }

.change-password-input {
    font-size: 1.4rem;
    resize: none;
    cursor: text;
    padding: 8px 4px;
    flex: 1;
    transition: all .3s;
}

.change-password-btn {
    background-color: var(--button-primary-normal);
    color: var(--button-primary-text);
    padding: 22px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 12px;
}

    .change-password-btn:hover {
        background-color: var(--button-secondary-text);
    }

.change-password-footer {
    margin-top: 20px;
    font-size: 1.2rem;
}

.change-password-footer-title {
}

.change-password-footer-link {
    color: var(--text-information);
}

    .change-password-footer-link:hover {
        font-weight: 500;
    }

/* Thông báo lỗi */
.register-errors-text {
    margin: 6px 4px;
    font-size: 1.4rem;
    color: var(--text-errors);
}

.register-input-error {
    font-size: 1.1rem;
    color: var(--text-errors);
    font-weight: 400;
    padding: 0 4px;
    margin-bottom: 4px;
}
