.register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 65vw;
    max-width: 1000px;
}

.register-head {
    margin-bottom: 14px;
    align-items: center;
    max-width: 400px;
    flex-wrap: wrap;
    height: 35vh;
}

.register-describe {
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 4px;
    text-align: center;
}

.register-wrapper-field {
    transition: all .3s;
    background-color: transparent;
}

.register-gender {
    margin-top: 10px;

    div {
        margin-right: 34px;
    }
}

.register-gender-btn {
    width: 18px;
    height: 18px;
    margin: 0;
}

.register-gender-text {
    font-size: 1.35rem;
    color: var(--text-primary);
    padding-left: 7px;
    cursor: pointer;
    user-select: none;
}

.register-dob-field {
    margin: 18px 0 10px;
}

.register-dob-name {
    font-size: 1.34rem;
    margin: 0 8px 0 4px;
}

.register-dob {
    width: 70%;
    border: 1px solid var(--border);
    background-color: transparent;
    font-size: 1.4rem;
    padding: 6px 10px;
    border-radius: 4px;
    transition: all .3s;
    height: 36px;
    &:focus-within

{
    border-color: var(--button-primary-normal);
    background-color: transparent !important;
}

}

.register-return {
    margin: 0;
    font-size: 1.1rem;
    color: var(--text-primary);
    margin-top: 10px;
    text-decoration: none;

    &:hover {
        color: var(--text-information);
     }

    i {
        padding-top: 1px;
    }
}

.login-otp-form {
    margin-top: 18px;
}

@media (max-width: 900px) {
    .register-head {
        display: none;
    }

    .register {
        justify-content: center;
    }
}
