@page
@model zaloclone_test.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- css -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="~/css/ChangePassword.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- icon title -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/img/Designer.png">
</head>

<body>
    <div class="login">
        <header class="flex-column login-head">
            <div class="login-logo">ChitChat</div>
            <div class="login-describe">Đổi mật khẩu của bạn</div>
            <div class="login-describe">Nhập thông tin để đổi mật khẩu</div>
        </header>

        <div class="login-body" id="form-change-password">
            @if (!string.IsNullOrEmpty(Model.MessageError))
            {
                <div class="notification error-notification">
                    <i class="fa-solid fa-exclamation-circle"></i>
                    @Model.MessageError
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.MessageSuccess))
            {
                <div class="notification success-notification">
                    <i class="fa-solid fa-check-circle"></i>
                    @Model.MessageSuccess
                </div>
            }

            <form class="flex-column login-form" method="post" asp-page-handler="ChangePassword">
                <input type="hidden" asp-for="Input.UserId" /> <!-- Trường ẩn cho UserId -->

                <div>
                    <div class="flex-align-center login-info">
                        <span class="login-icon"><i class="fa-solid fa-lock"></i></span>
                        <input asp-for="Input.ExPassword" type="password" class="login-input"
                               placeholder="Mật khẩu hiện tại" />
                    </div>
                    <span asp-validation-for="Input.ExPassword" class="register-input-error"></span>
                </div>

                <div>
                    <div class="flex-align-center login-info">
                        <span class="login-icon"><i class="fa-solid fa-lock"></i></span>
                        <input asp-for="Input.Password" type="password" class="login-input"
                               placeholder="Mật khẩu mới" />
                    </div>
                    <span asp-validation-for="Input.Password" class="register-input-error"></span>
                </div>

                <div>
                    <div class="flex-align-center login-info">
                        <span class="login-icon"><i class="fa-solid fa-lock"></i></span>
                        <input asp-for="Input.RePassword" type="password" class="login-input"
                               placeholder="Xác nhận mật khẩu mới" />
                    </div>
                    <span asp-validation-for="Input.RePassword" class="register-input-error"></span>
                </div>

                <button type="submit" class="btn login-btn">Đổi mật khẩu</button>
            </form>
        </div>

        <footer class="login-footer">
            <a href="javascript:history.back()" class="login-footer-title">Quay lại?</a>
            <a href="/login" class="login-footer-link">Quay lại Đăng Nhập</a>
        </footer>
    </div>

    <script src="~/js/login/tab.js"></script>
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
