@page
@model zaloclone_test.Pages.ChangePasswordModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thay đổi mật khẩu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- css -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="./css/ChangePassword.css"> <!-- Đổi tên file CSS nếu cần -->
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- icon title -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/img/Designer.png">
</head>

<body>
    <div class="change-password">
        <header class="flex-column change-password-head">
            <div class="change-password-logo">ChitChat</div>
            <div class="change-password-describe">Thay đổi mật khẩu của bạn</div>
            <div class="change-password-describe">Nhập thông tin cần thiết bên dưới</div>
        </header>
        <div class="change-password-body" id="form-change-password">
            <form class="flex-column change-password-form" method="post" asp-page-handler="ChangePassword">
                <div>
                    <div class="flex-align-center change-password-info">
                        <span class="change-password-icon"><i class="fa-solid fa-lock"></i></span>
                        <input @* asp-for="Input.CurrentPassword" *@ required type="password" class="change-password-input" placeholder="Mật khẩu hiện tại" />
                    </div>
                    <span @* asp-validation-for="Input.CurrentPassword" *@ class="register-input-error"></span>
                </div>
                <div>
                    <div class="flex-align-center change-password-info">
                        <span class="change-password-icon"><i class="fa-solid fa-lock"></i></span>
                        <input @* asp-for="Input.NewPassword" *@ required type="password" class="change-password-input" placeholder="Mật khẩu mới" />
                    </div>
                    <span @* asp-validation-for="Input.NewPassword" *@ class="register-input-error"></span>
                </div>
                <div>
                    <div class="flex-align-center change-password-info">
                        <span class="change-password-icon"><i class="fa-solid fa-lock"></i></span>
                        <input @* asp-for="Input.ConfirmPassword" *@ required type="password" class="change-password-input" placeholder="Nhập lại mật khẩu mới" />
                    </div>
                    <span @* asp-validation-for="Input.ConfirmPassword" *@ class="register-input-error"></span>
                </div>
                <button type="submit" class="btn change-password-btn">Cập nhật mật khẩu</button>
                @* @if (!string.IsNullOrEmpty(Model.MessageError))
                {
                    <div class="register-errors-text">
                        Error: @Model.MessageError
                    </div>
                } *@
            </form>
        </div>
        <footer class="change-password-footer">
            <span class="change-password-footer-title">Quay lại <a href="login" class="change-password-footer-link">Đăng nhập</a></span>
        </footer>
    </div>
    <script src="~/js/change-password/tab.js"></script> <!-- Tệp JS riêng nếu cần -->
</body>

</html>