@page
@model zaloclone_test.Pages.headerModel
@{
    Layout = "";
}
<header class="sidebar-head">
    <div class="nav-top">
        <button class="avatar nav-btn openProfileDialog">
            <img src="https://s120-ava-talk.zadn.vn/f/4/0/3/5/120/d4b18e254c63eb8d920ef756817e0442.jpg"
                 class="avatar-img" alt="avatar">
        </button>
        <div>
            <button class="nav-btn">
                <i class="fa-solid fa-house nav-btn-icon"></i>
            </button>
        </div>
        <div class=" ">
            <button class="nav-btn">
                <i class="fa-regular fa-comment nav-btn-icon"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fa-regular fa-address-book nav-btn-icon"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fa-regular fa-heart nav-btn-icon"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fa-regular fa-user nav-btn-icon"></i>
            </button>
        </div>
    </div>
    <div class="nav-bottom">
        <div>
            <button class="nav-btn">
                <i class="fa-solid fa-cloud nav-btn-img"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn">
                <i class="fa-solid fa-briefcase nav-btn-img"></i>
            </button>
        </div>
        <div>
            <button class="nav-btn nav-setting">
                <i class="fa-solid fa-gear nav-btn-img"></i>
            </button>
        </div>
    </div>
</header>

<div class="setting-modal">
    <div class="flex-column">
        <button class="setting-btn"> Thông tin tài khoản </button>
        <button class="setting-btn"> Đổi mật khẩu</button>
        <button class="setting-btn"> Cài đặt</button>
        <form method="post" asp-page-handler="Logout">
            <button class="setting-btn btn-red" type="submit">Đăng xuất</button>
        </form>
    </div>
</div>

<!-- change password  -->
<div id="changePassDialog" class="dialog-overlay" style="display: none;">
    <div class="dialog-content">
        <div class="flex-align-center-between profile-head">
            <div class="profile-title">Thay đổi mật khẩu</div>
            <span class="flex-align-justify-center close-btn">
                <i class="fa-solid fa-xmark "></i>
            </span>
        </div>
        <div class="changepass-wrapper">
            <div class="flex-column profile-edit">  @{
                    string username = User.Claims.FirstOrDefault(c => c.Type == "Username")?.Value;
                }
                <span class="profile-edit-text changepass-name">Mật khẩu hiện tại</span>
                <input class="profile-edit-name" type="password" name="" id="" maxlength="50" value="@username">
              
                <div class="register-input-error">Tên hiển thị  @username </div>
            </div>
            <div class="flex-column profile-edit">
                <span class="profile-edit-text changepass-name">Mật khẩu mới</span>
                <input class="profile-edit-name" type="password" name="" id="" maxlength="50">
                <div class="register-input-error">Tên hiển thị ko được để trống </div>
            </div>
            <div class="flex-column profile-edit">
                <span class="profile-edit-text changepass-name">Nhập lại mật khẩu</span>
                <input class="profile-edit-name" type="password" name="" id="" maxlength="50">
                <div class="register-input-error">Tên hiển thị ko được để trống </div>
            </div>
            <div class="edit-profile-footer">
                <button class="btn btn-neutral changepass-cancel">Hủy</button>
                <button class="btn btn-primary profile-btn-update">Cập nhật</button>
            </div>
        </div>
    </div>
</div>