@page
@model zaloclone_test.Pages.registerModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/register.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Icon title -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/img/Designer.png">
</head>

<body>
    <div class="login">
        <div class="register">
            <header class="flex-column register-head">
                <div class="login-logo">ChitChat</div>
                <div class="login-describe">Đăng ký tài khoản ChitChat </div>
                <div class="register-describe">Tạo tài khoản miễn phí ngay hôm nay để bắt đầu trò chuyện với bạn bè, khám phá những cuộc trò chuyện thú vị và mở rộng mạng lưới bạn bè của bạn.  </div>
            </header>
            <div class="login-body" id="form-login">
                <div class="flex-column login-form">
                    @if (!Model.IsRegister)
                    {
                        <form method="post" asp-page-handler="Register">
                            <div class="flex-column register-wrapper-field">
                                <div class="flex-align-center login-info">
                                    <input asp-for="Input.UserName" required type="text" minlength="5" maxlength="40" class="login-input"
                                           placeholder="Nhập tên bạn muốn hiển thị" />
                                </div>
                                @if (ViewData.ModelState["Input.UserName"]?.Errors.Count > 0)
                                {
                                    <span asp-validation-for="Input.UserName" class="register-input-error"></span>
                                }
                            </div>
                            <div class="flex-align-center register-gender">
                                <div class="flex-align-center">
                                    <input asp-for="Input.Sex" required value="0" name="gender" id="male" type="radio" class="register-gender-btn">
                                    <label class="register-gender-text" for="male">Nam</label>
                                </div>
                                <div class="flex-align-center">
                                    <input asp-for="Input.Sex" value="1" name="gender" id="female" type="radio" class="register-gender-btn">
                                    <label class="register-gender-text" for="female">Nữ</label>
                                </div>
                                <div class="flex-align-center">
                                    <input asp-for="Input.Sex" value="2" name="gender" id="other" type="radio" class="register-gender-btn">
                                    <label class="register-gender-text" for="other">Khác</label>
                                </div>
                            </div>
                            <div class="">
                                <div class="flex-align-center register-dob-field">
                                    <span class="register-dob-name">Ngày sinh</span>
                                    <input asp-for="Input.Dob" class="register-dob" required type="date">
                                </div>
                                @if (ViewData.ModelState["Input.Dob"]?.Errors.Count > 0)
                                {
                                    <span asp-validation-for="Input.Dob" class="register-input-error"></span>
                                }
                            </div>
                            <div class="register-wrapper-field">
                                <div class="flex-align-center login-info">
                                    <span class="login-number-country">(+84)</span>
                                    <input asp-for="Input.Phone" required type="text" minlength="10" maxlength="10" class="login-input"
                                           placeholder="Số điện thoại" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                                </div>
                                @if (ViewData.ModelState["Input.Phone"]?.Errors.Count > 0)
                                {
                                    <span asp-validation-for="Input.Phone" class="register-input-error"></span>
                                }
                            </div>
                            <div class="register-wrapper-field">
                                <div class="flex-align-center login-info">
                                    <input asp-for="Input.Email" required type="email" class="login-input" placeholder="Email" />
                                </div>
                                @if (ViewData.ModelState["Input.Email"]?.Errors.Count > 0)
                                {
                                    <span asp-validation-for="Input.Email" class="register-input-error"></span>
                                }
                            </div>
                            <div class="register-wrapper-field">
                                <div class="flex-align-center login-info">
                                    <input asp-for="Input.Password" required type="password" class="login-input" placeholder="Mật khẩu" />
                                </div>
                                @if (ViewData.ModelState["Input.Password"]?.Errors.Count > 0)
                                {
                                    <span asp-validation-for="Input.Password" class="register-input-error"></span>
                                }
                            </div>
                            <div class="register-wrapper-field">
                                <div class="flex-align-center login-info">
                                    <input asp-for="Input.RePassword" required type="password" class="login-input" placeholder="Nhập lại mật khẩu" />
                                </div>
                                @if (ViewData.ModelState["Input.RePassword"]?.Errors.Count > 0)
                                {
                                    <span asp-validation-for="Input.RePassword" class="register-input-error"></span>
                                }
                            </div>
                            @if (!string.IsNullOrEmpty(Model.MessageError))
                            {
                                <div class="register-errors-text">
                                    Error: @Model.MessageError
                                </div>
                            }
                            <button type="submit" class="btn login-btn">Đăng kí ngay</button>
                        </form>
                    }
                    @if (Model.IsRegister)
                    {
                        <form>
                            <div class="flex-align-center login-otp-form">
                                <div class=" flex-align-center login-info">
                                    <span class="login-icon verify"><i class="bx bxs-check-shield"></i></span>
                                    <input type="text" maxlength="6" class="login-input" placeholder="OTP here"
                                           oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                                </div>
                                <button class="btn login-otp-btn">Gửi lại</button>
                            </div>
                            <button type="submit" class="btn login-btn">Verify</button>
                        </form>
                    }
                    <a href="login" class="flex-align-center register-return">
                        <i class="fa-solid fa-angles-left"></i>&nbsp;
                        Quay lại
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/login/tab.js"></script>
</body>

</html>
